<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style type="text/css">
      /* SPECIAL CLIENT STYLES */
      #outlook a {
        padding: 0;
      } /* Force Outlook to
      provide a "view in browser" message */
      .ReadMsgBody {
        width: 100%;
      }
      .ExternalClass {
        width: 100%;
      } /* Force HM to display emails at full
      width */
      .ExternalClass,
      .ExternalClass p,
      .ExternalClass span,
      .ExternalClass font,
      .ExternalClass td,
      .ExternalClass div {
        line-height: 100%;
      } /* Force HM to display normal line spacing */
      body,
      table,
      td,
      p,
      a,
      li,
      blockquote {
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
      } /* Prevent WebKit and Windows mobile changing default text sizes
      */
      table,
      td {
        mso-table-lspace: 0pt;
        mso-table-rspace: 0pt;
      } /* Remove
      spacing between tables in Outlook 2007 and up */
      img {
        -ms-interpolation-mode: bicubic;
      } /* Allow smoother rendering of resized
      image in Internet Explorer */ /* RESET STYLES */
      body {
        margin: 0;
        padding: 0;
      }
      img {
        border: 0 none;
        height: auto;
        line-height: 100%;
        outline: none;
        text-decoration: none;
      }
      a img {
        border: 0 none;
      }
      .imageFix {
        display: block;
      }
      table,
      td {
        border-collapse: collapse;
      }
      #bodyTable {
        height: 100% !important;
        margin: 0;
        padding: 0;
        width: 100% !important;
      }
      #footer a {
        color: #00a4bd;
        text-decoration: none;
      } /*
      Responsive Styles */
      @media only screen and (max-width: 480px) {
        .responsiveRow {
          width: 100% !important;
        }
        .responsiveColumn {
          display: block !important;
          width: 100% !important;
        }
      }
    </style>
  </head>

  <body
    leftmargin="0"
    marginwidth="0"
    topmargin="0"
    marginheight="0"
    offset="0"
    bgcolor="#f5f8fa"
    style="
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
      margin: 0;
      padding: 0;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 16px;
      height: 100%;
      width: 100%;
      min-width: 100%;
    "
  >
    <table
      id="outerWrapper"
      border="0"
      cellpadding="0"
      cellspacing="0"
      height="100%"
      width="100%"
      bgcolor="#f5f8fa"
      style="
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 16px;
        color: #425b76;
        line-height: 1.5;
        width: 100%;
        min-width: 100%;
        background-color: #f5f8fa;
      "
    >
      <tbody>
        <tr>
          <td align="center" valign="top">
            <table
              border="0"
              cellpadding="20"
              cellspacing="0"
              width="600"
              style="width: 600px"
              class="emailContainer"
            >
              <tbody>
                <tr>
                  <td
                    align="center"
                    valign="top"
                    width="100%"
                    style="width: 100%; min-width: 100%"
                  >
                    <table
                      cellpadding="12"
                      border="0"
                      cellspacing="0"
                      width="100%"
                      bgcolor="#ff7a59"
                      style="width: 100%; min-width: 100%"
                    >
                      <tbody>
                        <tr>
                          <td
                            align="center"
                            valign="middle"
                            width="100%"
                            style="
                              background: linear-gradient(
                                to right,
                                #ff7a59 0%,
                                #ff8f59 100%
                              );
                              width: 100%;
                              padding: 20px;
                              min-width: 100%;
                              color: #ffffff;
                            "
                          >
                            <h3>T-Store</h3>
                            <span
                              style="
                                -webkit-text-size-adjust: 100%;
                                -ms-text-size-adjust: 100%;
                                color: transparent;
                                background: none;
                                user-select: none;
                                -moz-user-select: none;
                                -ms-user-select: none;
                                -webkit-user-select: none;
                                text-overflow: ellipsis;
                                opacity: 0;
                                width: 100%;
                                min-width: 100%;
                                height: 1;
                                overlfow: hidden;
                                margin: -1px 0 0 0;
                                padding: 0;
                                font-size: 0;
                              "
                            >
                              &nbsp;</span
                            >
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table
                      id="backgroundTable"
                      border="0"
                      cellpadding="0"
                      cellspacing="0"
                      height="100%"
                      width="100%"
                      bgcolor="#ffffff"
                      style="width: 100%; min-width: 100%"
                    >
                      <tbody>
                        <tr>
                          <td
                            align="left"
                            valign="top"
                            style="font-size: 16px; padding: 0 50px"
                          >
                            <table
                              cellpadding="0"
                              border="0"
                              cellspacing="0"
                              width="100%"
                              style="
                                color: #425b76;
                                background-color: ;
                                font-size: 20px;
                                width: 100%;
                                margin: initial;
                                min-width: 100%;
                              "
                            >
                              <tbody>
                                <tr>
                                  <td
                                    align="center"
                                    valign="middle"
                                    style="padding: 0"
                                  >
                                    <table
                                      border="0"
                                      cellpadding="0"
                                      cellspacing="0"
                                      width="100%"
                                      style="
                                        font-size: 0;
                                        height: 50px;
                                        width: 100%;
                                        min-width: 100%;
                                        line-height: 0;
                                      "
                                    >
                                      <tbody>
                                        <tr>
                                          <td height="50">
                                            <span
                                              style="
                                                -webkit-text-size-adjust: 100%;
                                                -ms-text-size-adjust: 100%;
                                                color: transparent;
                                                background: none;
                                                user-select: none;
                                                -moz-user-select: none;
                                                -ms-user-select: none;
                                                -webkit-user-select: none;
                                                text-overflow: ellipsis;
                                                opacity: 0;
                                                width: 100%;
                                                min-width: 100%;
                                                height: 1;
                                                overlfow: hidden;
                                                margin: -1px 0 0 0;
                                                padding: 0;
                                                font-size: 0;
                                              "
                                            >
                                              &nbsp;</span
                                            >
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                    <img
                                      src="https://static.hsappstatic.net/EmailNotificationSharedAssets/ex/email-forwarding.png"
                                      style="max-width: 150px"
                                    />
                                    <table
                                      border="0"
                                      cellpadding="0"
                                      cellspacing="0"
                                      width="100%"
                                      style="
                                        font-size: 0;
                                        height: 20px;
                                        width: 100%;
                                        min-width: 100%;
                                        line-height: 0;
                                      "
                                    >
                                      <tbody>
                                        <tr>
                                          <td height="20">
                                            <span
                                              style="
                                                -webkit-text-size-adjust: 100%;
                                                -ms-text-size-adjust: 100%;
                                                color: transparent;
                                                background: none;
                                                user-select: none;
                                                -moz-user-select: none;
                                                -ms-user-select: none;
                                                -webkit-user-select: none;
                                                text-overflow: ellipsis;
                                                opacity: 0;
                                                width: 100%;
                                                min-width: 100%;
                                                height: 1;
                                                overlfow: hidden;
                                                margin: -1px 0 0 0;
                                                padding: 0;
                                                font-size: 0;
                                              "
                                            >
                                              &nbsp;</span
                                            >
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                    <h1
                                      style="
                                        font-size: 24px;
                                        font-weight: 600;
                                        margin: 0;
                                        text-align: center;
                                      "
                                    >
                                      Forgot password
                                    </h1>
                                    <table
                                      border="0"
                                      cellpadding="0"
                                      cellspacing="0"
                                      width="100%"
                                      style="
                                        font-size: 0;
                                        height: 30px;
                                        width: 100%;
                                        min-width: 100%;
                                        line-height: 0;
                                      "
                                    >
                                      <tbody>
                                        <tr>
                                          <td height="30">
                                            <span
                                              style="
                                                -webkit-text-size-adjust: 100%;
                                                -ms-text-size-adjust: 100%;
                                                color: transparent;
                                                background: none;
                                                user-select: none;
                                                -moz-user-select: none;
                                                -ms-user-select: none;
                                                -webkit-user-select: none;
                                                text-overflow: ellipsis;
                                                opacity: 0;
                                                width: 100%;
                                                min-width: 100%;
                                                height: 1;
                                                overlfow: hidden;
                                                margin: -1px 0 0 0;
                                                padding: 0;
                                                font-size: 0;
                                              "
                                            >
                                              &nbsp;</span
                                            >
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                    <hr
                                      style="
                                        height: 1px;
                                        color: #eaf0f6;
                                        background-color: #eaf0f6;
                                        border: none;
                                        margin: 0px;
                                        padding: 0px;
                                      "
                                    />
                                    <table
                                      border="0"
                                      cellpadding="0"
                                      cellspacing="0"
                                      width="100%"
                                      style="
                                        font-size: 0;
                                        height: 30px;
                                        width: 100%;
                                        min-width: 100%;
                                        line-height: 0;
                                      "
                                    >
                                      <tbody>
                                        <tr>
                                          <td height="30">
                                            <span
                                              style="
                                                -webkit-text-size-adjust: 100%;
                                                -ms-text-size-adjust: 100%;
                                                color: transparent;
                                                background: none;
                                                user-select: none;
                                                -moz-user-select: none;
                                                -ms-user-select: none;
                                                -webkit-user-select: none;
                                                text-overflow: ellipsis;
                                                opacity: 0;
                                                width: 100%;
                                                min-width: 100%;
                                                height: 1;
                                                overlfow: hidden;
                                                margin: -1px 0 0 0;
                                                padding: 0;
                                                font-size: 0;
                                              "
                                            >
                                              &nbsp;</span
                                            >
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <p style="margin: 0; text-align: center">
                              <i18n-string
                                data-key="account.verifyUserEmailAddress.bodyText"
                                data-locale-at-render="en-us"
                              >
                                Please click on the link below to go to the new
                                password setting page.</i18n-string
                              >
                            </p>
                            <table
                              border="0"
                              cellpadding="0"
                              cellspacing="0"
                              width="100%"
                              style="
                                font-size: 0;
                                height: 50px;
                                width: 100%;
                                min-width: 100%;
                                line-height: 0;
                              "
                            >
                              <tbody>
                                <tr>
                                  <td height="50">
                                    <span
                                      style="
                                        -webkit-text-size-adjust: 100%;
                                        -ms-text-size-adjust: 100%;
                                        color: transparent;
                                        background: none;
                                        user-select: none;
                                        -moz-user-select: none;
                                        -ms-user-select: none;
                                        -webkit-user-select: none;
                                        text-overflow: ellipsis;
                                        opacity: 0;
                                        width: 100%;
                                        min-width: 100%;
                                        height: 1;
                                        overlfow: hidden;
                                        margin: -1px 0 0 0;
                                        padding: 0;
                                        font-size: 0;
                                      "
                                    >
                                      &nbsp;</span
                                    >
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <table
                              width="100%"
                              border="0"
                              cellspacing="0"
                              cellpadding="0"
                            >
                              <tbody>
                                <tr>
                                  <td align="center">
                                    <table
                                      border="0"
                                      cellspacing="0"
                                      cellpadding="0"
                                    >
                                      <tbody>
                                        <tr>
                                          <td
                                            align="center"
                                            style="border-radius: 3px"
                                            bgcolor="#425b76"
                                            width="auto"
                                          >
                                            <a
                                              href="{{url}}"
                                              target="_blank"
                                              style="
                                                border: 1px solid #425b76;
                                                border-radius: 3px;
                                                color: #ffffff;
                                                display: inline-block;
                                                font-size: 14px;
                                                font-weight: 500;
                                                line-height: 1;
                                                padding: 12px 20px;
                                                text-decoration: none;
                                                width: auto;
                                                min-width: 170px;
                                                white-space: nowrap;
                                              "
                                              >Forgot password</a
                                            >
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <div
                              itemscope
                              itemtype="http://schema.org/EmailMessage"
                            >
                              <div
                                itemprop="potentialAction"
                                itemscope
                                itemtype="http://schema.org/ViewAction"
                              >
                                <link
                                  itemprop="target"
                                  href="https://app.hubspot.com/verify?u=matthew@fathomanddraft.com&amp;t=GS9W_PGY96UmfKORtn3bAYwx65_Ut5sDWEblVD6vmC2u3RJOe063BDGxcvBPBGTC&amp;i=8092426"
                                />
                                <meta
                                  itemprop="name"
                                  content="Confirm your email address"
                                />
                              </div>
                              <meta
                                itemprop="description"
                                content="Confirm your email address"
                              />
                            </div>
                            <div
                              itemprop="publisher"
                              itemscope
                              itemtype="http://schema.org/Organization"
                            >
                              <meta itemprop="name" content="HubSpot" />
                              <link
                                itemprop="url"
                                content="https://www.hubspot.com"
                              />
                              <link
                                itemprop="url/googlePlus"
                                content="https://plus.google.com/+hubspot/"
                              />
                            </div>
                            <table
                              border="0"
                              cellpadding="0"
                              cellspacing="0"
                              width="100%"
                              style="
                                font-size: 0;
                                height: 20px;
                                width: 100%;
                                min-width: 100%;
                                line-height: 0;
                              "
                            >
                              <tbody>
                                <tr>
                                  <td height="20">
                                    <span
                                      style="
                                        -webkit-text-size-adjust: 100%;
                                        -ms-text-size-adjust: 100%;
                                        color: transparent;
                                        background: none;
                                        user-select: none;
                                        -moz-user-select: none;
                                        -ms-user-select: none;
                                        -webkit-user-select: none;
                                        text-overflow: ellipsis;
                                        opacity: 0;
                                        width: 100%;
                                        min-width: 100%;
                                        height: 1;
                                        overlfow: hidden;
                                        margin: -1px 0 0 0;
                                        padding: 0;
                                        font-size: 0;
                                      "
                                    >
                                      &nbsp;</span
                                    >
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <table
                              cellpadding="0"
                              border="0"
                              cellspacing="0"
                              width="100%"
                              style="
                                color: #425b76;
                                background-color: ;
                                font-size: 20px;
                                width: 100%;
                                margin: initial;
                                min-width: 100%;
                              "
                            ></table>
                            <table
                              border="0"
                              cellpadding="0"
                              cellspacing="0"
                              width="100%"
                              style="
                                font-size: 0;
                                height: 50px;
                                width: 100%;
                                min-width: 100%;
                                line-height: 0;
                              "
                            >
                              <tbody>
                                <tr>
                                  <td height="50">
                                    <span
                                      style="
                                        -webkit-text-size-adjust: 100%;
                                        -ms-text-size-adjust: 100%;
                                        color: transparent;
                                        background: none;
                                        user-select: none;
                                        -moz-user-select: none;
                                        -ms-user-select: none;
                                        -webkit-user-select: none;
                                        text-overflow: ellipsis;
                                        opacity: 0;
                                        width: 100%;
                                        min-width: 100%;
                                        height: 1;
                                        overlfow: hidden;
                                        margin: -1px 0 0 0;
                                        padding: 0;
                                        font-size: 0;
                                      "
                                    >
                                      &nbsp;</span
                                    >
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
